# Env
/.local.production.env
/.local.env

# Build
/output
/databoard
/databoard.exe

# OS
.DS_Store
Thumbs.db

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# npm
node_modules
